<div class="fluid-container">
    <div class="col-5 m-auto mt-5">
        <div class="card bc">
            <div class="card-body">
                <div class="row">
                    <div class="col-5 m-auto">
                    <h1 class="aa ">RS solutions</h1>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-6 m-auto">

                        <button type="button" class="btn btn-primary btn-lg w-50" routerLink="/admin">Admin</button><br><br>
                        <button type="button" class="btn btn-primary btn-lg w-50" routerLink="/registration">User</button>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>